<p><%= flash[:notice] %></p>

<h1>User info</h1>

<table width="250">
	<tr align="left"><%= attachment_image_tag user, :profile_image, size: "150x150", fallback: "no_image.jpg"%></tr>
	<tr align="left">
		<th>name</th>
		<th><%= user.name %></th>
	</tr>
	<tr align="left">
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>
</table>

<% if user.id == current_user.id %>
	<%= link_to edit_user_path(user.id) do %>
		<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <!-- aria-hiddenは読み飛ばし機能 -->
	<% end %>
<% end %>